[Unit]
Description=SFC-AnalysisFiles Scheduler
After=multi-user.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/SFC-AnalysisFiles
ExecStart=/usr/bin/npm run start
EnvironmentFile=/home/ubuntu/.env

[Install]
WantedBy=multi-user.target