- name: Install Node and job dependencies
  ansible.builtin.apt:
    pkg: 
      - nodejs
      - npm
      - zip
      - tmux
    update_cache: yes
    state: present

- name: Git checkout
  ansible.builtin.git:
    repo: 'https://github.com/NMDSdevopsServiceAdm/SFC-AnalysisFiles.git'
    dest: /home/ubuntu/SFC-AnalysisFiles
    update: false
  become_user: ubuntu

- name: Install SFC-AnalysisFiles node dependencies
  community.general.npm:
    path: /home/ubuntu/SFC-AnalysisFiles

- name: Create env file and add variables
  ansible.builtin.blockinfile:
    path: /home/ubuntu/.env
    create: yes
    block: |
      DATABASE_URL={{ DATABASE_URL }}
      AWS_ACCESS_KEY_ID={{ AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY={{ AWS_SECRET_ACCESS_KEY }}
      CRON={{ CRON }}
      NODE_ENV={{ NODE_ENV }}
      CRON_BENCHMARKS={{ CRON_BENCHMARKS }}
      CRON_CQC_CHANGES={{ CRON_CQC_CHANGES }}
      BENCHMARKS_S3_BUCKET={{ BENCHMARKS_S3_BUCKET }}

- name: Add systemd daemon for SFC-AnalysisFiles scheduler
  ansible.builtin.copy:
    src:  sfc-analysisfiles.service
    dest: /etc/systemd/system/sfc-analysisfiles.service

- name: Ensure systemd service is present 
  ansible.builtin.systemd:
    name: sfc-analysisfiles.service
    enabled: true
    state: started